.PsyNeed {
	position: relative;
	top: -30px;
	padding-top: 0.8rem;
	background: var(--bg-color);
	border-radius: var(--border-radius) var(--border-radius) 0 0;

	.PsyNeedTopBar {
		text-align: center;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		padding: 2rem;
		margin-bottom: 2.5rem;
		margin-left: 8px;
		margin-right: 8px;
		background-color: var(--tertiary-color);
		color: var(--bg-color);
		border-radius: var(--border-radius);
		h3 {
			margin-bottom: 2.5rem;
		}
		.text {
			font-size: 1rem;
			font-weight: 500;
			margin-bottom: 2.5rem;
		}
	}
	.SocialLinksCard {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.5rem;
		li {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			color: var(--text-color);
			background-color: var(--bg-color);
			border-radius: var(--border-radius2);
			padding: 0.5rem;
			text-align: start;
			img {
				width: 45px;
				height: 45px;
			}
		}
		span {
			color: var(--primary-color);
		}
	}

	.PsyNeedGrid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-auto-columns: 1fr;
		grid-auto-rows: 1fr;
		gap: 2.5rem 2.5rem;
		grid-auto-flow: row;
		grid-template-areas:
			'Title Title card1'
			'card2 card3 card4'
			'card5 card6 card7';
	}
	.cardTitle {
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		.icons {
			font-size: 1rem;
			padding: 0.5rem;
			fill: var(--tertiary-color);
		}
	}

	.Title {
		grid-area: Title;
		display: flex;
		justify-content: space-between;
		flex-direction: column;

		h2 {
			font-size: 4rem;
		}
	}
	.card {
		background-color: var(--fourthly-color);
		padding: 2rem 1rem;
		border-radius: var(--border-radius);
		font-size: 0.9rem;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		text-align: justify;
		h3 {
			font-size: 2rem;
			line-height: 2rem;
			margin-bottom: 1rem;
		}
		ul {
			li {
				margin-left: 1rem;
				font-size: 1rem;
				list-style: disc;
				&:first-child {
					color: var(--primary-color);
				}
				&::marker {
					color: var(--primary-color);
				}
			}
		}
	}
	.More {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem 0 0 0;

		.icons {
			font-size: 1rem;
			padding: 0.5rem;
			fill: var(--tertiary-color);
		}
	}

	.card1 {
		grid-area: card1;
	}

	.card2 {
		grid-area: card2;
	}

	.card3 {
		grid-area: card3;
	}

	.card4 {
		grid-area: card4;
	}

	.card5 {
		grid-area: card5;
	}

	.card6 {
		grid-area: card6;
	}

	.card7 {
		grid-area: card7;
	}
}
@media screen and (max-width: 769px) {
	.PsyNeed {
		.PsyNeedTopBar {
			h3 {
				font-size: 1.5rem;
				text-align: start;
				margin-bottom: 1rem;
			}
			.text {
				margin-bottom: 1rem;
				text-align: justify;
			}
		}
		.SocialLinksCard {
			flex-direction: column;

			li {
				width: 100%;
			}
		}

		.PsyNeedGrid {
			grid-template-columns: 1fr;
			grid-template-areas:
				'Title'
				'card1'
				'card2'
				'card3'
				'card4'
				'card5'
				'card6'
				'card7';
		}
	}
}
