:root {
	--max-width: 1280px;
	--border-radius: 39px;
	--border-radius2: 15px;
	--transition: all 0.3s ease-in-out;

	--bg-color: #fafafa;
	--text-color: #32312e;

	--primary-color: #fe814b;
	--secondary-color: #97b47c;
	--tertiary-color: #8eaccd;
	--fourthly-color: #f0efeb;
	--fifth-color: #926247;

	[data-theme='dark'] {
		--bg-color: #32312e;
		--text-color: #fafafa;
	}
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
ol,
ul {
	list-style: none;
}
a {
	color: var(--text-color);
	text-decoration: none;
}

body {
	position: relative;
	font-size: 20px;
	font-weight: 400;
	background: var(--bg-color);
	color: var(--text-color);
}

// section {
// 	margin-top: 50px;
// 	margin-bottom: 50px;

// 	&:first-child {
// 		margin-top: 0;
// 	}
// 	&:last-child {
// 		margin-bottom: 0;
// 	}
// }
.continer {
	max-width: var(--max-width);
	margin: 0 auto;
	padding: 0 8px;
}

/* width */
::-webkit-scrollbar {
	display: none;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--primary-color);
}
::selection {
	background-color: var(--tertiary-color);
}
