@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
	--max-width: 1440px;
	--border-radius: 94px;
	--transition: all 0.3s ease-in-out;

	--primary-color: #e2856e;
	--secondary-color: #b2c1ca;
	--bg-color: #fff;
	--text-color: #050f27;

	[data-theme='dark'] {
		--primary-color: #b2c1ca;
		--secondary-color: #292929;
		--bg-color: #fff;
		--text-color: #050f27;
	}
}
.continer {
	max-width: var(--max-width);
	margin: 0 auto;
	padding: 0 8px;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
ol,
ul {
	list-style: none;
}
a {
	color: var(--text-color);
	text-decoration: none;
}

body {
	position: relative;
	font-size: 15px;
	font-weight: 400;
	background: var(--bg-color);
	color: var(--text-color);
}
