.Button {
	color: var(--bg-color);
	font-weight: 700;
	text-transform: capitalize;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	cursor: pointer;
}
.Primary {
	background: var(--primary-color);
}
.Secondary {
	background: var(--secondary-color);
}
.Tertiary {
	background: var(--tertiary-color);
}
.Fourthly {
	background: var(--fourthly-color);
}
.Fifth {
	background: var(--fifth-color);
}

.None {
	color: var(--bg-color);
	border: 1px solid #fff;
	background-image: none;
	background: transparent;
	float: left;
	background-color: transparent;
}
.CircleButton {
	border-radius: 50%;
	width: max-content;
	height: max-content;
	padding: 0.5rem;
}

.SquareButton {
	border-radius: 30px;
	border: 1px solid #fafafa;
	padding: 1rem 2rem;
}
