.PsyDifferences {
	background-color: var(--secondary-color);
	padding: 2.5rem 1.5rem;
	border-radius: var(--border-radius);
	h2 {
		text-align: center;
		color: var(--bg-color);
		margin-bottom: 2rem;
		margin-top: 0.5rem;
	}

	ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 0.5rem;
	}
	li {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: var(--fourthly-color);
		border-radius: var(--border-radius);
		padding: 1rem;
		font-size: 1rem;
		height: 450px;
		width: 20%;
	}
	span {
		color: var(--primary-color);
	}
}
@media screen and (max-width: 768px) {
	.PsyDifferences {
		ul {
			flex-direction: column;
		}
		li {
			max-height: 250px;
			width: 90%;
		}
	}
}
