.Header {
	margin: 1rem 0.5rem;
	border-radius: var(--border-radius);
	background-color: var(--primary-color);
	color: var(--bg-color);

	.HeaderInner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.HeaderRightSide {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		padding: 0 2rem;
	}
	.authButtonList {
		display: flex;
		align-items: center;
	}
}
.NavBar {
	margin-left: 1rem;
	font-size: 1.1rem;
	ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1.5rem;

		a {
			color: var(--bg-color);
		}
	}

	.nonActiveStyle {
	}
	.activeStyle {
		a {
			color: var(--bg-color);
		}
	}
}
.authButtonList {
	display: flex;
	align-items: center;
	gap: 1rem;
}
