.Header {
	margin: 2rem 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.NavBar {
	gap: 1rem;
	font-size: 1.1rem;
	ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1.5rem;
	}

	.nonActiveStyle {
	}
	.activeStyle {
		font-weight: 600;
	}
}
// .authButtonList {
// 	display: flex;
// 	align-items: center;
// 	gap: 1rem;
// }
