.Header {
	position: absolute;
	display: flex;
	align-items: center;
	align-self: center;
	justify-content: space-between;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	padding: 2rem 8px;
}

.NavBar {
	gap: 1rem;
	font-size: 1rem;
	font-weight: 500;

	ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1.5rem;
		li a {
			color: var(--bg-color);
		}
	}
	.nonActiveStyle {
	}
	.activeStyle {
		font-style: normal;
		font-weight: 700;
	}
	svg path {
		fill: var(--bg-color);
	}
}

.mobileMenu {
	position: fixed;
	display: flex;

	flex-direction: column;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: #68829f;
	background-image: url('../../assets/image/photh/bgBallLeft.svg'),
		url('../../assets/image/photh/bgBallRight.svg');
	background-position: top -50px left -50px, bottom right;
	background-repeat: no-repeat, no-repeat;

	.TopBarMenu {
		padding: 2rem 8px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav {
		padding: 2rem 8px;
		color: var(--bg-color);
		ul {
			display: flex;
			flex-direction: column;
			align-items: start;
			li a {
				font-size: 2rem;
				font-style: normal;
				font-weight: 600;
			}
		}
	}

	.closeIcon {
	}
}
.AuthButton {
	a {
		width: 250px;
	}
}
