.ConnectLink {
	font-size: 1.5rem;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: min-content;
	gap: 0.5rem;
	padding: 0.5rem 1rem;
	border-radius: var(--border-radius);
	background-color: var(--bg-color);
	color: var(--bg-color);
	border: 2px solid var(--bg-color);
}
.Primary {
	background: var(--primary-color);
}
.Secondary {
	background: var(--secondary-color);
}
.Tertiary {
	background: var(--tertiary-color);
}
.Fourthly {
	background: var(--fourthly-color);
}
.Fifth {
	background: var(--fifth-color);
}
.None {
	background: rgba(255, 255, 255, 0.4);
	background-image: none;
	background: transparent;
	float: left;
}
